<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>部门管理</title>
	<style type="text/css">
		table{
			width: 99%;
			border-collapse: collapse;
		}
		thead th{
			width: auto;
			height: 50px;
			border: 1px solid #000000;
		}
		tbody td{
			width: auto;
			height: 30px;
			border: 1px solid #000000;
			text-align: center;
		}
	</style>
	<link th:href="@{css/page.css}" type="text/css" rel="stylesheet">
	<script th:src="@{examples/js/jquery.js}" src="../static/examples/js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script th:src="@{js/paging.js}" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<table>
	<!--表头-->
	<thead>
	<th>序号</th>
	<th>部门名称</th>
	<th>部门编号</th>
	<th>创建时间</th>
	</thead>
	<!--内容-->
	<tbody id="mainContent">
	<tr th:each="dept,deptStat : ${depts}" data-th-id="${dept.id}">
		<td th:text="${deptStat.count}"></td>
		<td th:text="${dept.deptName}"></td>
		<td th:text="${dept.deptNo}"></td>
		<td ></td>
	</tr>
	</tbody>
</table>
<div align="center" id="page" class="page_div"></div>
</body>
</html>
