<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" th:href="@{layui/css/layui.css}" href="../static/layui/css/layui.css" media="all">
		<link rel="stylesheet" th:href="@{css/news.css}" media="all"/>
	</head>
	<body class="childrenBody">
	<div style="margin-top: 10px;margin-left: 10px;margin-right: 5px;">
		<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
			<legend>日志列表</legend>
		</fieldset>

		<div class="layui-form news_list">
			<table id="demo" class="layui-table" lay-skin="line">

			</table>
			<div id="page"></div>
		</div>
	</div>
	<script th:src="@{layui/layui.js}" src="../static/layui/layui.js"></script>
	<script th:src="@{js/diary.js}" src="../static/js/diary.js"></script>
	</body>
</html>
