<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" th:href="@{layui/css/layui.css}" href="../static/layui/css/layui.css" media="all">
</head>

<body class="childrenBody">
<div style="margin-top: 10px;margin-left: 10px;margin-right: 5px;">
	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
		<legend>历史工资查询</legend>
	</fieldset>
	<blockquote class="layui-elem-quote">
		<div class="layui-input-inline">
			<label class="layui-label"> 请选择日期 </label>
			<div class="layui-input-inline">
				<input id="demo" class="layui-input laydate-icon" placeholder="yyyy-MM" lay-key="4" type="text">
			</div>
		</div>
	</blockquote>

	<div class="layui-form news_list">
		<table class="layui-table">
			<!--表头-->
			<thead>
			<tr>
			<th>考勤编号</th>
			<th>部门</th>
			<th>姓名</th>
			<th>基本工资</th>
			<th>日工资</th>
			<th>记资天数</th>
			<th>工龄工资</th>
			<th>顶班工资</th>
			<th>津贴</th>
			<th>应发工资</th>
			<th>四险</th>
			<th>个税</th>
			<th>奖金</th>
			<th>罚金</th>
			<th>实际工资</th>
			<th>银行卡号</th>
			</tr>
			</thead>
			<!--内容-->
			<tbody class="news_content"></tbody>
		</table>
	</div>
	<div id="page"></div>
</div>

<script th:src="@{layui/layui.js}" src="../static/layui/layui.js"></script>
<script type="text/javascript" th:inline="javascript">
	layui.use(['laydate','table','jquery', 'laypage'],function () {
	    var laydate = layui.laydate,
            laypage = layui.laypage,
            $ = layui.jquery;

        laydate.render({
            elem: '#demo',
            type:'month',
            position: 'static',
            showBottom: false,
            btns: ['clear', 'confirm','now'],
            theme: 'molv',
            done: function(value, date, endDate){ //选择日期完毕的回调
				renderDate(1,date.year,date.month);
            }
        });//绑定元素

        renderDate(1);

        function renderDate(curPage,year,month) {
            $.ajax({
                url:"salary/history.json",
                type:"post",
                data:{"year":year,"month":month,"curPage":curPage},
                success:function (result) {
                    var code = result.code,
                        listData = result.data,
                        page = result.page;
                    if (code == 200) {
                        //渲染数据
                        var dataHtml = '';
                        if (listData.length != 0) {
                            $.each(listData,function (i, item) {
                                var fine=item.late+item.otherDebit+item.partyDue+item.loan+item.other;
                                dataHtml+="<tr><td>"+item.workNo+"</td><td>"+item.deptName+"</td><td>"+item.username+"</td><td>"+item.base+"</td><td>"+item.dailyWage+
                                    "<td>"+item.workTotal+"</td><td>"+item.seniority+"</td><td>"+item.subWork+"</td><td>"+item.allowance+"</td><td>"+item.grossPay+
                                    "</td><td>"+item.insurance+"</td><td>"+item.incomeTax+"</td></td><td>"+item.bonus+"</td><td>"+fine+"</td><td>"+item.payroll+"</td><td>"+item.creditCard+ "</td></tr>";
                            })
                        }else {
                       	 	dataHtml = '<tr><td colspan="16">暂无数据</td></tr>';
                    	}

						$(".news_content").html(dataHtml);
	//                        $("#curDate").attr("title",year+"-"+month);
						//分页
                        laypage.render({
                            elem: 'page',
                            limit:page.pageSize,
                            count: page.totalCount, //数据总数
                            curr: page.currentPage,
                            layout: ['count', 'prev', 'page', 'next', 'skip'],
                            jump: function (obj, first) {
                                if (!first) {
									renderDate(obj.curr,year,month);
								}
							}
						})
                    }
                },
                error: function(data){
                    alert("获取数据失败");
                }
            });
        }
    });

</script>



</body>

</html>