<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>旺庄员工管理平台</title>
		<link rel="stylesheet" th:href="@{layui/css/layui.css}" href="../static/layui/css/layui.css">
	</head>

	<body class="layui-layout-body">
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header header">
				<div class="layui-main">
				<a href="home.html" class="logo">旺庄工资管理系统</a>
				<ul class="layui-nav layui-layout-right">
					<li class="layui-nav-item">
						<a href="javascript:;">
							<img th:src="@{img/topPic.jpg}" class="layui-nav-img">
							<span sec:authentication="name"></span>
						</a>
						<dl class="layui-nav-child">
							<dd>
								<a th:href="@{newPassword.html}">修改密码</a>
							</dd>
							
						</dl>
					</li>
					<li class="layui-nav-item">
						<a th:href="@{/logout.html}" href="login.html">退出</a>
					</li>
				</ul>
				</div>
			</div>

			<div class="layui-side layui-bg-black menu">
				<div class="layui-side-scroll">
					<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
					<ul class="layui-nav layui-nav-tree" lay-filter="test">
						<li sec:authorize="hasAnyRole('ROLE_DEPT','ROLE_CAP','ROLE_EXE','ROLE_GE_MANAGER','ROLE_FIN','ROLE_LAW')" class="layui-nav-item">
							<a class="" href="javascript:;">管理操作</a>
							<dl class="layui-nav-child">
								<dd id='history.html'>
									<a href="javascript:;">历史查询</a>
								</dd>
								<dd id='statistics.html'>
									<a href="javascript:;">单月统计</a>
								</dd>
								<dd id='search.html'>
									<a href="javascript:;">单人查询</a>
								</dd>
								<dd id='diary.html'>
									<a href="javascript:;">日志</a>
								</dd>
								<dd id='backlog.html'>
									<a href="javascript:;">待办事项</a>
								</dd>
								<dd id='other.html'>
									<a href="javascript:;">其他</a>
								</dd>
							</dl>
						</li>
						<li sec:authorize="hasAnyRole('ROLE_STAT','ROLE_DIRE','ROLE_MANAGER')" class="layui-nav-item">
							<a class="" href="javascript:;">管理操作</a>
							<dl class="layui-nav-child">
								<dd id='salary.html'>
									<a href="javascript:;">历史查询</a>
								</dd>
							</dl>
						</li>
						<li  sec:authorize="hasAnyRole('ROLE_STAT')" class="layui-nav-item">
							<a class="" href="javascript:;">部门</a>
							<dl class="layui-nav-child" id="department">
								<dd th:each="dept:${depts}" th:attr="id=${'index/'+dept.id}">
									<a th:text="${dept.deptName}" href='javascript:;'></a>
								</dd>
							</dl>
						</li>
						<li sec:authorize="hasRole('ROLE_CAP')" class="layui-nav-item">
							<a class="" href="javascript:;">系统管理</a>
							<dl class="layui-nav-child" id="salary">
								<dd id='user.html'>
									<a href="javascript:;">员工管理</a>
								</dd>
								<!--<dd id='role'>-->
									<!--<a href="javascript:;">角色管理</a>-->
								<!--</dd>-->
								<!--<dd id='dept.html'>-->
									<!--<a href="javascript:;">部门管理</a>-->
								<!--</dd>-->
							</dl>
						</li>
						<li sec:authorize="hasAnyRole('ROLE_STAT','ROLE_DIRE','ROLE_MANAGER','ROLE_CAP','ROLE_EXE','ROLE_GE_MANAGER','ROLE_FIN','ROLE_LAW')" class="layui-nav-item">
							<a class="" href="javascript:;">工资申请</a>
							<dl class="layui-nav-child">
								<dd sec:authorize="hasRole('ROLE_STAT')" id='list.html'>
									<a href="javascript:;">工资查看</a>
								</dd>
								<dd sec:authorize="hasRole('ROLE_FIN')" id='down.html'>
									<a href="javascript:;">工资查看</a>
								</dd>
								<dd id='task.html' sec:authorize="hasAnyRole('ROLE_DIRE','ROLE_MANAGER','ROLE_CAP','ROLE_EXE','ROLE_LAW')">
									<a href="javascript:;">待审核工资<!--<span class="layui-badge"></span>--></a>
								</dd>
								<dd id='pool.html' sec:authorize="hasAnyRole('ROLE_GE_MANAGER','ROLE_FIN')">
									<a href="javascript:;">待审核工资<!--<span class="layui-badge"></span>--></a>
								</dd>
							</dl>
						</li>
					</ul>
				</div>
			</div>

			<div class="layui-body" style="background-color: #009688;">
				<p style="text-align: center;font-size: 32px;margin-top: 60px;color: #fff;">
					<span>欢迎使用旺庄工资管理系统</span><br />
					<span class="timer" style="display: inline-block;margin-top: 150px;font-size: 18px;"></span>
				</p>
				<iframe src="" width="100%" height="100%" style="display: none;"></iframe>
			</div>

			<div class="layui-footer">
				<!-- 底部固定区域 -->
				© 旺庄工资管理系统
			</div>
		</div>
		<script th:src="@{layui/layui.js}" src="../static/layui/layui.js"></script>
		<script th:inline="javascript">
			//JavaScript代码区域
            layui.use(['jquery','element','layer'], function () {
                var $ = layui.jquery,
                	element = layui.element;
				$(".menu .layui-nav-item:first").addClass("layui-nav-itemed");
                element.render('nav');
                //确定当前日期
                var timer = new Date();
                var year = timer.getFullYear();
                var month = timer.getMonth() + 1;
                var today = timer.getDate();
                var todayThis = year + '年' + month + '月' + today + '日';
                $('.timer').text(todayThis);

                element.on('nav(test)', function(elem) {
                    $(".layui-body").css('background-color', '#fff')
                    $(".layui-body p").hide();
                    $(".layui-body iframe").show();
                    var url = $(elem).parent().attr('id');
                    $(".layui-body iframe").attr('src', url);
                });

            });
		</script>
	</body>

</html>