<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial=scale=1">
		<title>动态表格</title>
		<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
		<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
		<!--<link rel="stylesheet" th:href="@{/css/font_eolqem241z66flxr.css}" media="all"/>-->
		<!--<link rel="stylesheet" th:href="@{/css/news.css}" media="all"/>-->
	</head>

	<body>
	<div style="margin-right: 5px;margin-left: 5px;">
		<p class="tit">交口县旺庄生铁有限责任公司工资表</p>
		<p>
			<span class="deptInfo" th:content="${dept.id}" th:text="${dept.deptName}"></span>
			<span class="timer"></span>
		</p>
		<div class="layui-upload">
			<button th:if="${dept.status==1}" sec:authorize="hasRole('ROLE_STAT')" name="file" type="button" class="layui-btn" id="test8">导入员工考勤表</button>
			<button sec:authorize="hasAnyRole('ROLE_LAW')" name="file" type="button" class="layui-btn" id="test9">导入扣款明细表</button>
			<div class="layui-upload-list" hidden="hidden">
				<img class="layui-upload-img" id="demo1">
				<p id="demoText"></p>
			</div>
			<a th:href="@{/task/download}" style="margin-bottom: 2px" sec:authorize="hasAnyRole('ROLE_LAW')" type="button" class="layui-btn">导出扣款模板</a>
		</div>
		<!--<input  type="file" onchange="xlsFile(this)"  id="xlf" value="" />-->
		<!--<input  type="file" onchange="xlsFile(this)"  id="xlf" value="导入员工考勤" />-->
		<table class="table table-hover table-bordered" id="mytable">
			<thead>
				<tr>
					<th rowspan="2"></th>
					<th rowspan="2">身份证号</th>
					<th rowspan="2">考勤编号</th>
					<th rowspan="2">部门</th>
					<th rowspan="2">姓名</th>
					<th rowspan="2">基本工资</th>
					<th class="ying" rowspan="2">系数</th>
					<th rowspan="2">日工资</th>
					<th colspan="5">计资天数</th>
					<th rowspan="2">工龄工资</th>
					<th rowspan="2">顶班天数</th>
					<th rowspan="2">顶班工资</th>
					<th rowspan="2">津贴</th>
					<th rowspan="2">应发工资</th>
					<th rowspan="2">四险</th>
					<th rowspan="2">一金</th>
					<th rowspan="2">个人所得税</th>
					<th rowspan="2">奖金</th>
					<th style="cursor: pointer;" class="yinchang fjHide" colspan="6">罚金</th>
					<th style="cursor: pointer;" class="yinchang1 fj" rowspan="2" hidden="hidden">罚金</th>
					<th rowspan="2">实际工资</th>
					<th rowspan="2">银行卡号</th>
					<th th:if="${dept.status==1}" sec:authorize="hasAnyRole('ROLE_STAT','ROLE_CAP')" rowspan="2">操作</th>
					<th sec:authorize="hasAnyRole('ROLE_LAW')" rowspan="2">操作</th>
					<th rowspan="2">备注</th>
				</tr>
				<tr>
					<th>考勤</th>
					<th>补勤</th>
					<th>出差</th>
					<th>公休</th>
					<th>合计</th>
					<th class="fjHide">迟到/早退</th>
					<th class="fjHide">其他扣款</th>
					<th class="fjHide">党费</th>
					<th class="fjHide">借款</th>
					<th class="fjHide">其他</th>
					<th class="fjHide">其他</th>
				</tr>
			</thead>
			<tbody id="listTable">

			</tbody>
			<tfoot>
				<tr>
					<td>合计</td>
					<td></td>
					<td class="idhj"></td>
					<td class="worknamehj"></td>
					<td class="usernamehj"></td>
					<td class="moneyhj"></td>
					<td class="numhj"></td>
					<td class="dayMoneyhj"></td>
					<td class="cqhj"></td>
					<td class="bqhj"></td>
					<td class="cxhj"></td>
					<td class="gxhj"></td>
					<td class="hjhj"></td>
					<td class="workmoneyhj"></td>
					<td class="toworkdayhj"></td>
					<td class="toworkmoneyhj"></td>
					<td class="jthj"></td>
					<td class="getMoneyhj"></td>
					<td class='fourhj'></td>
					<td class="yjhj"></td>
					<td class="gshj"></td>
					<td class="jjhj"></td>
					<td class="cdhj fjHide"></td>
					<td class="qthj fjHide"></td>
					<td class="dfhj fjHide"></td>
					<td class="jkhj fjHide"></td>
					<td class="qt1hj fjHide"></td>
					<td class="qt2hj fjHide"></td>
					<td class="fjhj fj"  hidden="hidden"></td>
					<td class="sjhj"></td>
					<td class="kahj"></td>
					<td hidden="hidden" class="jkdate"></td>
					<td hidden="hidden" class="kkdate"></td>
					<td hidden="hidden" class="jknote"></td>
					<td hidden="hidden" class="kknote"></td>
					<td th:if="${dept.status==1}" sec:authorize="hasAnyRole('ROLE_STAT','ROLE_CAP')" class="dehj">
						<div class="btn-btn">
						<a th:if="${dept.status==1}" id="delAll" data-type="delAll" class="layui-btn layui-btn-danger layui-btn-sm" data-id="'+item.id+'"><i class="layui-icon">&#xe640;</i>全部删除</a>
						</div>
							<!--<a href="javascript:;" class="btn btn-danger" role="button" onclick="delAll(this)">全部删除</a>-->
						<!--<a href="javascript:;" class="btn btn-info" role="button" onclick="addTr()">新增人员</a>-->
					</td>
					<td sec:authorize="hasAnyRole('ROLE_LAW')">
					</td>
					<td></td>
				</tr>
			</tfoot>
		</table>
		<table id="eg" style="display: none;">
			<tr>
				<td class="pkid"><input type="checkbox" name="item" /></td>
				<td class="idnumber"></td>
				<td class="id"></td>
				<td class="workname"></td>
				<td class="username"></td>
				<td class="money"></td>
				<td class="num"></td>
				<td class="dayMoney"></td>
				<td class="cq"></td>
				<td class="bq"></td>
				<td class="cx"></td>
				<td class="gx"></td>
				<td class="hj"></td>
				<td class="workmoney"></td>
				<td class="toworkday"></td>
				<td class="toworkmoney"></td>
				<td class="jt"></td>
				<td class="getMoney"></td>
				<td class='four'></td>
				<td class="yj"></td>
				<td class="gs"></td>
				<td class="jj"></td>
				<td class="cd fjHide"></td>
				<td class="qt fjHide"></td>
				<td class="df fjHide"></td>
				<td class="jk fjHide"></td>
				<td class="qt1 fjHide"></td>
				<td class="qt2 fjHide"></td>
				<td class="fj" hidden="hidden"></td>
				<td class="sj"></td>
				<td class="ka"></td>
				<td th:if="${dept.status==1}" sec:authorize="hasAnyRole('ROLE_STAT','ROLE_CAP')">
					<div class="btn-btn">
					<a class="layui-btn layui-btn-sm news_edit"><i class="layui-icon">&#xe642;</i>编辑</a>
					<a class="layui-btn layui-btn-danger layui-btn-sm news_del"><i class="layui-icon">&#xe640;</i>删除</a>
					</div>
						<!--<input type="button" name="" value="删除" class="btn btn-danger" onclick="del(this)" />-->
					<!--<input type="button" name="" value="修改" class="btn btn-info" onclick="modify(this)" />-->
				</td>
				<td sec:authorize="hasAnyRole('ROLE_LAW')">
					<a class="layui-btn layui-btn-sm loan_edit"><i class="layui-icon">&#xe642;</i>编辑</a>
				</td>
				<td class="bz"></td>
			</tr>
		</table>
		<div id="page"></div>
		<hr />
		<div id="addBox" class="addBox" style="display: none;">
			<div class="layui-col-md10">
			<!--<h1>更新数据</h1>-->
			<!--<span id="close">X</span>-->
			<form style="margin-top: 5px;" class="layui-form" lay-filter="indexForm" id="update_form">
				<div class="layui-form-item">
					<label class="layui-form-label">工&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：</label>
					<div class="layui-input-block">
						<input name="id" value="" hidden="hidden"/>
						<input disabled type="text" lay-verify="required" name="workNo" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</label>
					<div class="layui-input-block">
						<input disabled type="text" lay-verify="required" name="username" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">系&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数：</label>
					<div class="layui-input-block">
						<input type="text" lay-verify="required" name="coeff" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">基本工资：</label>
					<div class="layui-input-block">
						<input type="text" lay-verify="required" name="base" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">工龄工资：</label>
					<div class="layui-input-block">
						<input type="text" lay-verify="required" name="seniority" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">补&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;勤：</label>
					<div class="layui-input-block">
						<input type="text" lay-verify="required" name="repairWork" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">出&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;差：</label>
					<div class="layui-input-block">
						<input type="text" lay-verify="required" name="busTravel" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">顶班天数：</label>
					<div class="layui-input-block">
						<input type="text" lay-verify="required" name="subDay" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">顶班工资：</label>
					<div class="layui-input-block">
						<input type="text" lay-verify="required" name="subWork" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">津&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;贴：</label>
					<div class="layui-input-block">
						<input type="text" lay-verify="required" name="allowance" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">奖&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金：</label>
					<div class="layui-input-block">
						<input type="text" lay-verify="required" name="bonus" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：</label>
					<div class="layui-input-block">
						<input type="text" name="remark" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<div class="btn-btn layui-input-block">
						<button class="layui-btn" lay-submit="" lay-filter="demo1">提交</button>
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>
			</form>
			</div>
		</div>
	</div>
		<script th:src="@{/layui/layui.js}" src="../static/layui/layui.js"></script>
		<script th:inline="javascript" th:src="@{/js/index.js}" src="../static/js/index.js"></script>
	</body>
</html>