<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial=scale=1">
		<title>动态表格</title>
		<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
		<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
		<link href="../static/css/news.css" th:href="@{/css/news.css}"/>
	</head>

	<body>
		<p class="tit">交口县旺庄生铁有限责任公司工资表</p>
		<p>
			<span class="deptInfo" th:value="${dept.id}" th:text="${dept.deptName}"></span>
			<span class="timer"></span>
		</p>
		<div class="layui-upload">
			<button type="button" class="layui-btn layui-btn-normal" id="test8">选择文件</button>
			<button type="button" class="layui-btn" id="test9">开始上传</button>
		</div>
		<!--<input sec:authorize="hasAnyRole('ROLE_STAT')" type="file" onchange="xlsFile(this)" name="file" id="xlf" value="导入员工考勤" />-->
		<!--<input sec:authorize="hasAnyRole('ROLE_LAW')" type="file" onchange="xlsFile(this)" name="file" id="xlf" value="导入员工考勤" />-->
		<table class="table table-hover table-bordered" id="mytable">
			<thead>
				<tr>
					<th rowspan="2"></th>
					<th rowspan="2">考勤编号</th>
					<th rowspan="2">部门</th>
					<th rowspan="2">姓名</th>
					<th rowspan="2">基本工资</th>
					<th class="ying" rowspan="2">系数</th>
					<th rowspan="2">日工资</th>
					<th colspan="4">计资天数</th>
					<th rowspan="2">工龄工资</th>
					<th rowspan="2">顶班天数</th>
					<th rowspan="2">顶班工资</th>
					<th rowspan="2">津贴</th>
					<th rowspan="2">应发工资</th>
					<th rowspan="2">四险</th>
					<th rowspan="2">一金</th>
					<th rowspan="2">个人所得税</th>
					<th rowspan="2">奖金</th>
					<th style="cursor: pointer;" class="yinchang fjHide" colspan="6">罚金</th>
					<th style="cursor: pointer;" class="yinchang1 fj" rowspan="2" hidden="hidden">罚金</th>
					<th rowspan="2">实际工资</th>
					<th rowspan="2">银行卡号</th>
					<th sec:authorize="hasAnyRole('ROLE_STAT')" rowspan="2">操作</th>
				</tr>
				<tr>
					<th>出勤</th>
					<th>出差</th>
					<th>公休</th>
					<th>合计</th>
					<th class="fjHide">迟到/早退</th>
					<th class="fjHide">其他扣款</th>
					<th class="fjHide">党费</th>
					<th class="fjHide">借款</th>
					<th class="fjHide">其他</th>
					<th class="fjHide">其他</th>
				</tr>
			</thead>
			<tbody id="listTable">

			</tbody>
			<tfoot>
				<tr>
					<td>合计</td>
					<td class="idhj"></td>
					<td class="worknamehj"></td>
					<td class="usernamehj"></td>
					<td class="moneyhj"></td>
					<td class="numhj"></td>
					<td class="dayMoneyhj"></td>
					<td class="cqhj"></td>
					<td class="cxhj"></td>
					<td class="gxhj"></td>
					<td class="hjhj"></td>
					<td class="workmoneyhj"></td>
					<td class="toworkdayhj"></td>
					<td class="toworkmoneyhj"></td>
					<td class="jthj"></td>
					<td class="getMoneyhj"></td>
					<td class='fourhj'></td>
					<td class="yjhj"></td>
					<td class="gshj"></td>
					<td class="jjhj"></td>
					<td class="cdhj fjHide"></td>
					<td class="qthj fjHide"></td>
					<td class="dfhj fjHide"></td>
					<td class="jkhj fjHide"></td>
					<td class="qt1hj fjHide"></td>
					<td class="qt2hj fjHide"></td>
					<td class="fjhj fj"  hidden="hidden"></td>
					<td class="sjhj"></td>
					<td class="kahj"></td>
					<td sec:authorize="hasAnyRole('ROLE_STAT')" class="dehj">
						<a href="javascript:;" class="btn btn-danger" role="button" onclick="delAll(this)">全部删除</a>
						<!--<a href="javascript:;" class="btn btn-info" role="button" onclick="addTr()">新增人员</a>-->
					</td>
				</tr>
			</tfoot>
		</table>
		<table id="eg" style="display: none;">
			<tr>
				<td class="pkid"><input type="checkbox" name="item" /></td>
				<td class="id"></td>
				<td class="workname"></td>
				<td class="username"></td>
				<td class="money"></td>
				<td class="num"></td>
				<td class="dayMoney"></td>
				<td class="cq"></td>
				<td class="cx"></td>
				<td class="gx"></td>
				<td class="hj"></td>
				<td class="workmoney"></td>
				<td class="toworkday"></td>
				<td class="toworkmoney"></td>
				<td class="jt"></td>
				<td class="getMoney"></td>
				<td class='four'></td>
				<td class="yj"></td>
				<td class="gs"></td>
				<td class="jj"></td>
				<td class="cd fjHide"></td>
				<td class="qt fjHide"></td>
				<td class="df fjHide"></td>
				<td class="jk fjHide"></td>
				<td class="qt1 fjHide"></td>
				<td class="qt2 fjHide"></td>
				<td class="fj" hidden="hidden"></td>
				<td class="sj"></td>
				<td class="ka"></td>
				<td sec:authorize="hasAnyRole('ROLE_STAT')">
					<input type="button" name="" value="删除" class="btn btn-danger" onclick="del(this)" />
					<input type="button" name="" value="修改" class="btn btn-info" onclick="modify(this)" />
				</td>
			</tr>
		</table>
		<div id="page"></div>
		<hr />
		<div class="addBox">
			<!--<h1>更新数据</h1>-->
			<span id="close">X</span>
			<form id="update_form">
				<input type="hidden" name="id" id="wageId">
				<table class="table table-hover table-bordered">
					<tr>
						<th>编号</th>
						<td><input type="text" name="workNo" class="form-control" id="num" /></td>
					</tr>
					<tr>
						<th>姓名</th>
						<td><input type="text" name="username" class="form-control" id="username" /></td>
					</tr>
					<tr>
						<th>系数</th>
						<td><input type="text" name="coeff" class="form-control" id="pwd" /></td>
					</tr>
					<tr>
						<th>工资</th>
						<td><input type="text" name="base" class="form-control" id="bir" /></td>
					</tr>
					<tr>
						<th>工龄工资</th>
						<td><input type="text" name="seniority" class="form-control" id="birth" /></td>
					</tr>
					<tr>
						<th>出差</th>
						<td><input type="text" name="busTravel" class="form-control" id="ccc" /></td>
					</tr>
					<tr>
						<th>顶班天数</th>
						<td><input type="text" name="subDay" class="form-control" id="addre" /></td>
					</tr>
					<tr>
						<th>津贴</th>
						<td><input type="text" name="allowance" class="form-control" id="jtt" /></td>
					</tr>
					<tr>
						<th>奖金</th>
						<td><input type="text" name="bonus" class="form-control" id="jjj" /></td>
					</tr>
					<tr>
						<th>罚金</th>
						<td><input type="text" name="otherDebit" class="form-control" id="fjj" /></td>
					</tr>
					<tr>
						<td colspan="2">
							<input type="reset" value="重置" class="btn btn-primary" id="reset" />
							<!--<input type="button" value="添加" class="btn btn-success" id="add" onclick="addList()" />-->
							<input type="button" value="更新" class="btn btn-info" id="" onclick="update()" />
						</td>
					</tr>
				</table>
			</form>
		</div>
		<script th:src="@{/layui/layui.js}" src="../static/layui/layui.js"></script>
		<script th:inline="javascript" th:src="@{/js/index.js}" src="../static/js/index.js"></script>
	</body>
</html>