<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>工资列表</title>
		<link rel="stylesheet" th:href="@{layui/css/layui.css}" media="all">
		<link rel="stylesheet" th:href="@{css/font_eolqem241z66flxr.css}" media="all"/>
		<link rel="stylesheet" th:href="@{css/news.css}" media="all"/>
	</head>
	<body class="childrenBody">
	<div style="margin-top: 5px;margin-left: 5px;margin-right: 5px;">
		<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
			<legend>工资列表</legend>
		</fieldset>
		<div class="layui-form news_list">
			<table class="layui-table">
				<thead>
				<tr>
					<th>序号</th>
					<th>申请名称</th>
					<th>申请时间</th>
					<th>申请人</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
				</thead>
				<tbody class="news_content"></tbody>
			</table>
		</div>
		<div id="page"></div>

		<!-- 需要弹出的添加员工界面 -->
		<div class="layui-row" id="test" lay-filter="commentList" style="display: none;">
			<div style="margin-left: 1%;margin-right: 1%;width: 98%;height: 100%;" class="layui-col-md10">
				<table class="layui-table">
					<thead>
					<tr>
						<th>序号</th>
						<th>任务节点名称</th>
						<th>开始时间</th>
						<th>结束时间</th>
						<th>审批人</th>
						<th>审批意见</th>
					</tr>
					</thead>
					<tbody class="commentList"></tbody>
				</table>
			</div>
		</div>
	</div>

	<script th:src="@{layui/layui.js}" src="../static/layui/layui.js"></script>
	<script th:inline="javascript">
        layui.use(['form', 'layer','table', 'jquery', 'laypage'], function () {
            var form = layui.form,
				table = layui.table,
                layer = layui.layer,
                laypage = layui.laypage,
                $ = layui.jquery;
            //加载页面数据
            renderDate(1);
			//查看审批进度
            $("body").on("click", ".chakan", function () {
                var _this = $(this);
                $('.commentList').html('');
                $.post('declare/comment.json',{'processInstanceId':_this.attr("data-id")},function (result) {
                    var code = result.code,
                        listData = result.data;
                    if (code == 200) {
						$.each(listData,function (index, item) {
						    var count=index+1;
						    var startTime=item.startTime?item.startTime:'';
						    var endTime=item.endTime?item.endTime:'';
                            $('.commentList').append(
                                '<tr>' +
								'<td>'+count+'</td>' +
                                '<td>'+item.activityName+'</td>' +
                                '<td>'+startTime+'</td>' +
                                '<td>'+endTime+'</td>' +
                                '<td>'+item.assignUser+'</td>' +
                                '<td>'+item.assignMsg+'</td></tr>');
                        });
                        table.render(null,'commentList');
                        /* 再弹出添加界面 */
                        layer.open({
                            type: 1,
                            title: "审核流程",
                            skin: "myclass",
                            area: ["60%"],
                            content: $("#test").html()
                        });
                    } else {
                        var msg = result.msg;
                        if (msg) {
                            layer.alert(msg);
                        } else {
                            layer.alert('查询数据失败');
                        }
                    }
                });
            });
			//提交工资审批
            $("body").on("click", ".tijiao", function () {
                var _this = $(this);
                layer.confirm('确定提交？', {icon: 3, title: '提示信息'}, function () {
                    $.post('declare/start.json', {'declareId': _this.attr("data-id")}, function (result) {
                        var code = result.code;
                        if (code == 200) {
                            layer.msg('提交成功');
                            renderDate($('.layui-laypage-curr em:last').text());
                        } else {
                            var msg = result.msg;
                            if (msg) {
                                layer.alert(msg);
                            } else {
                                layer.alert('查询数据失败');
                            }
                        }
                    });
                })
//                deleteBatch(_this.attr("data-id"));
            });

            //提交工资审批
            $("body").on("click", ".shenhe", function () {
                var _this = $(this);
                layer.confirm('确定提交？', {icon: 3, title: '提示信息'}, function () {
                    $.post('declare/complete.json', {'processInstanceId': _this.next().attr("data-id")}, function (result) {
                        var code = result.code;
                        if (code == 200) {
                            layer.msg('提交成功');
                            renderDate($('.layui-laypage-curr em:last').text());
                        } else {
                            var msg = result.msg;
                            if (msg) {
                                layer.alert(msg);
                            } else {
                                layer.alert('查询数据失败');
                            }
                        }
                    });
                })
//                deleteBatch(_this.attr("data-id"));
            });

            function renderDate(curPage) {
                $.post("declare/list.json", {"curPage": curPage}, function (result) {
                    var code = result.code,
                        listData = result.data,
                        page = result.page;
                    if (code == 200) {
                        //渲染数据
                        var dataHtml = '';
                        if (listData.length != 0) {
                            $.each(listData, function (i, item) {
                                var declareDate='';
                                if(item.declareDate){
                                    declareDate=item.declareDate;
								}
                                var count=i+1;
                                dataHtml += '<tr>'
                                    + '<td>' + count + '</td>'
                                    + '<td>' + item.declareName + '</td>'
                                    + '<td>' + declareDate + '</td>'
                                    + '<td>' + item.user.username + '</td>';
                                if (item.status == 0) {
                                    dataHtml += '<td>未提交</td><td>'
                                    + '<button class="layui-btn layui-btn-sm tijiao" data-id="'+item.id+'">提交</button>'
                                    + '&nbsp;&nbsp;<button class="layui-btn layui-btn-sm layui-btn-disabled" disabled="disabled" data-id="'+item.processInstanceId+'">查看</button>'
                                    + '</td>'
                                    + '</tr>';
                                } else if(item.status==1) {
                                    dataHtml += '<td>审核中</td><td>'
                                        + '<button class="layui-btn layui-btn-sm  layui-btn-disabled" disabled="disabled" data-id="'+item.id+'">提交</button>'
                                        + '&nbsp;&nbsp;<button class="layui-btn  layui-btn-normal layui-btn-sm chakan" data-id="'+item.processInstanceId+'">查看</button>'
                                        + '</td>'
                                        + '</tr>';
                                }else if(item.status==2) {
                                    dataHtml += '<td>审核通过</td><td>'
                                        + '<button class="layui-btn layui-btn-sm  layui-btn-disabled" disabled="disabled" data-id="'+item.id+'">提交</button>'
                                        + '&nbsp;&nbsp;<button class="layui-btn layui-btn-normal layui-btn-sm chakan" data-id="'+item.processInstanceId+'">查看</button>'
                                        + '</td>'
                                        + '</tr>';
                                }else if(item.status==3) {
                                    dataHtml += '<td>调整中</td><td>'
                                        + '<button class="layui-btn layui-btn-sm shenhe" data-id="'+item.id+'">提交</button>'
                                        + '&nbsp;&nbsp;<button class="layui-btn layui-btn-normal layui-btn-sm chakan" data-id="'+item.processInstanceId+'">查看</button>'
                                        + '</td>'
                                        + '</tr>';
                                }
                            });
                        } else {
                            dataHtml = '<tr><td colspan="6">暂无数据</td></tr>';
                        }
                        $(".news_content").html(dataHtml);
                        //分页
                        laypage.render({
                            elem: 'page',
                            limit:page.pageSize,
                            count: page.totalCount, //数据总数
                            curr: page.currentPage,
                            layout: ['count', 'prev', 'page', 'next', 'skip'],
                            jump: function (obj, first) {
                                if (!first) {
                                    renderDate(obj.curr);
                                }
                            }
                        })
                    } else {
                        var msg = result.msg;
                        if (msg) {
                            layer.alert(msg);
                        } else {
                            layer.alert('查询数据失败');
                        }
                    }
                });
            }
        });
	</script>
	</body>
</html>
