<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
		<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			.pasd{
	            width:200px;
	            height: 200px;
	            position: absolute;
	            left:50%;
	            top:50%;
	            margin-left:-100px;
	            margin-top:-100px;
			}
			.submit,.reset{
				margin-left: 20px;
				margin-top: 20px;
			}
		</style>
	</head>
	<body th:style="'background:url(' + @{img/index.jpg} + ');'">
		<div class="pasd">
			<form th:action="@{user/newpsd.json}" method="post">
			旧密码：<input class="password" name="password" type="text" value=""/>
			<br />
			新密码：<input class="newPassword" name="newPassword" type="text"  placeholder="输入新的密码"/>
			<br />
			重新输入：<input class="repeatPsd" name="repeatPsd" type="text" placeholder="重新输入新的密码"/>
			<br />	
			<button class="submit">提交</button>
			<button class="reset">重置</button>
			</form>
		</div>
	</body>
<script th:inline="javascript">
        var submit = document.getElementsByClassName("submit")[0];
        var reset = document.getElementsByClassName("reset")[0];
        var password=document.getElementsByClassName("password")[0],
            newPassword=document.getElementsByClassName("newPassword")[0],
            repeatPsd=document.getElementsByClassName("repeatPsd")[0];
        reset.onclick=function () {
            password.value='';
            newPassword.value='';
            repeatPsd.value='';
        };
        submit.onclick= function (){
            var pas=password.value;
            var newPas=newPassword.value;
            var rePas=repeatPsd.value;
            console.log(pas);
            console.log(newPas);
            console.log(rePas)
            if(pas===''||newPas===''||rePas===''){
                alert("密码不能为空");
            }else if(newPas!==rePas){
                alert("两次密码不相等");
            }else{
                $("form").submit();
//                $.ajax({
//                    url:"user/newpsd",
//                    type:"post",
//                    data:{"password":pas,"newPassword":newPas,"repeatPsd":rePas},
//                    success:function (data) {
//                        if(data.code!==200){
//                            alert(data.msg);
//                        }else{
//                            location.href=data.data.sysRole.pageUrl;
//                        }
//                    },
//                    error: function(data){
//                            alert("获取数据失败");
//
//                    }
//                });
            }
        }

</script>
</html>