<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>分部门待审核工资列表</title>
    <link rel="stylesheet" th:href="@{layui/css/layui.css}" href="../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" th:href="@{css/font_eolqem241z66flxr.css}" media="all"/>
    <link rel="stylesheet" th:href="@{css/news.css}" media="all"/>
    <!--<link href="../static/css/task.css" th:href="@{css/task.css}"/>-->
</head>
<body class="childrenBody">
<div style="margin-top: 5px;margin-left: 5px;margin-right: 5px;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>分部门待审核工资列表</legend>
    </fieldset>
    <div class="layui-form news_list">
        <table class="layui-table">
            <thead>
            <tr>
                <th>部门</th>
                <th>应发工资</th>
                <th>顶班工资</th>
                <th>津贴</th>
                <th>四险</th>
                <th>一金</th>
                <th>个税</th>
                <!--<th>扣款</th>-->
                <th>迟到/早退</th>
                <th>其他扣款</th>
                <th>党费</th>
                <th>借款</th>
                <th>其他</th>
                <th>其他</th>
                <th>实发工资</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody class="news_content"></tbody>
        </table>
    </div>
    <div id="page"></div>

    <!-- 需要弹出的添加员工界面 -->
    <div class="layui-row" id="test" lay-filter="commentList" style="display: none;">
        <div style="margin-left: 1%;margin-right: 1%;width: 98%;height: 100%;" class="layui-col-md10">
            <table class="layui-table">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>任务节点名称</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>审批人</th>
                    <th>审批意见</th>
                </tr>
                </thead>
                <tbody class="commentList"></tbody>
            </table>
        </div>
    </div>

    <div class="layui-row" id="test1" style="display: none;">
        <div class="layui-col-md10">
            <form style="margin-top: 5px;" class="layui-form" lay-filter="userForm">
                <div style="margin-top: 5px;" class="layui-form-item">
                    <label style="width: 80px !important;" class="layui-form-label">审批意见：</label>
                    <div class="layui-input-block info-input">
                        <input name="declareId" class="declareId" value="" hidden="hidden"/>
                        <input name="deptId" value="" hidden="hidden"/>
                        <textarea required lay-verify="required" placeholder="请输入" name="comment"
                                  class="layui-textarea comment"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button sec:authorize="hasRole('ROLE_GE_MANAGER')" class="layui-btn" lay-submit="" lay-filter="demo5">审核通过</button>
                        <button sec:authorize="hasRole('ROLE_FIN')" class="layui-btn" lay-submit="" lay-filter="demo1">审核通过</button>
                        <button class="layui-btn layui-btn-primary" lay-submit="" lay-filter="demo2">驳回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="layui-row" id="test2" style="display: none;">
        <div style="margin-left: 1%;margin-right: 1%;width: 98%;height: 100%;" class="layui-col-md10">
        <div class="layui-form task_list">
            <table class="layui-table">
                <thead>
                <tr>
                    <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose"></th>
                    <th>员工姓名</th>
                    <th>考勤编号</th>
                    <th>金额</th>
                    <th>类型</th>
                    <th>日期</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody class="load_content"></tbody>
            </table>
            <div class="layui-form-item">
                <div style="margin-right: 10px;text-align: right;" class="layui-input-block">
                    <input id="deptId" name="deptId" hidden="hidden">
                    <button class="layui-btn" lay-submit="" lay-filter="demo3">扣款</button>
                </div>
            </div>
        </div></div>
    </div>
</div>
<script th:src="@{layui/layui.js}" src="../static/layui/layui.js"></script>
<script th:src="@{js/pool.js}" src="../static/js/pool.js"></script>
</body>
</html>
