<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>旺庄员工管理平台</title>
		<link rel="stylesheet" th:href="@{layui/css/layui.css}" href="../static/layui/css/layui.css" media="all">
	</head>

	<body class="childrenBody">
	<div style="margin-top: 10px;margin-left: 10px;margin-right: 5px;">
		<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
			<legend>请输入部门及员工姓名进行检索</legend>
		</fieldset>
		<blockquote class="layui-elem-quote">
			<div style="width: 200px;" class="layui-input-inline">
				<label class="layui-label"> 姓名 </label>
				<div style="margin-left: 5px;" class="layui-input-block layui-inline">
					<input style="width: 150px;" type="text" value="" placeholder="请输入员工姓名" name="userName" autocomplete="off" class="layui-input search_input userName">
				</div>
			</div>
			<div style="width: 200px;" class="layui-input-inline">
				<label class="layui-label"> 编号 </label>
				<div style="margin-left: 5px;" class="layui-input-block layui-inline">
					<input style="width: 150px;" type="text" value="" placeholder="请输入员工编号" name="workNo" autocomplete="off" class="layui-input search_input workNo">
				</div>
			</div>
			<!--<div style="width: 200px;" class="layui-inline">-->
				<!--<label class="layui-label"> 姓名 </label>-->
				<!--<div style="margin-left: 5px;" class="layui-input-block layui-inline">-->
					<!--<input style="width: 150px;" type="text" value="" placeholder="请输入员工身份证号" id="keyw" name="" autocomplete="off" class="layui-input search_input">-->
				<!--</div>-->
			<!--</div>-->
			<div class="layui-inline"> <a class="layui-btn search_btn">搜索</a></div>
		</blockquote>

		<div class="layui-form news_list">
			<table id="demo" class="layui-table" lay-skin="line">

		    </table>
            <div id="page"></div>
        </div>
	</div>

	</body>
	<script th:src="@{layui/layui.js}" src="../static/layui/layui.js"></script>
	<script th:inline="javascript">
        layui.use(['form', 'layer','table', 'jquery', 'laypage'], function () {
            var form = layui.form,
				table = layui.table,
                layer = parent.layer === undefined ? layui.layer : parent.layer,
                laypage = layui.laypage,
                $ = layui.jquery;

            //查询
            $(".search_btn").click(function(){
                var workNo = $(".workNo").val();
                var userName=$(".userName").val();
				if(!workNo && !userName){
				    layer.msg('查询内容不能为空');
				}else{
                    var index = layer.msg('查询中，请稍候',{icon: 16,time:false,shade:0.8});
                    renderDate(1,workNo,userName);
                    layer.close(index);
				}
            });

            renderDate(1);

			function renderDate(num,workNo,userName){
                table.render({
                    elem:'#demo',
                    page:false,
                    cols: [[
                        {field:'year',width:65,fixed:'left','title':'年份',rowspan:2},
                        {field:'month',width:60,fixed:'left','title':'月份',rowspan:2},
                        {field:'workNo',width:90,fixed:'left','title':'考勤编号',rowspan:2},
                        {field:'deptName', width:120,'title':'部门',rowspan:2},
                        {field:'username',width: 100,'title':'姓名',rowspan:2},
                        {field: 'base',width: 100,'title':'基本工资',rowspan:2},
                        {field:'coeff',width:80,'title':'系数',rowspan:2},
                        {field:'dailyWage', width:100,'title':'日工资',rowspan:2},
                        {align:'center',colspan:'4','title':'计资天数'},
//                        {field:'workDay',width:90,'title':'出勤天数'},
                        {field: 'seniority',width: 100,'title':'工龄工资',rowspan:2},
                        {field:'subDay', width:120,'title':'顶班天数',rowspan:2},
                        {field:'subWork',width: 100,'title':'顶班工资',rowspan:2},
                        {field: 'allowance',width: 100,'title':'津贴',rowspan:2},
                        {field:'grossPay',width:100,'title':'应发工资',rowspan:2},
                        {field:'insurance', width:100,'title':'四险',rowspan:2},
                        {field:'incomeTax',width: 100,'title':'个人所得税',rowspan:2},
                        {field: 'accuFund',width: 100,'title':'一金',rowspan:2},
                        {field: 'bonus',width: 120,'title':'奖金',rowspan:2},
                        {align:'center', width:120,'title':'罚金',colspan:6},
                        {field:'payroll',width: 100,'title':'实际工资',rowspan:2},
                        {field: 'creditCard',width: 100,'title':'银行卡号',rowspan:2}
					],[
                        {field:'attendance', width:80,'title':'出勤'},
                        {field:'busTravel',width: 80,'title':'出差'},
                        {field: 'holiday',width: 80,'title':'公休'},
                        {field: 'workTotal',width: 80,'title':'合计'},
                        {field:'late', width:100,'title':'迟到/早退'},
                        {field:'otherDebit',width: 100,'title':'其他扣款'},
                        {field: 'partyDue',width: 60,'title':'党费'},
                        {field: 'loan',width: 60,'title':'借款'},
                        {field: 'other',width: 60,'title':'其他'},
                        {field: 'other_el',width: 60,'title':'其他'}
                    ]],
                    skin: 'row',
                    even: true,
                    url: "salary/search.json",
                    method:"post",
                    where:{
                        "workNo": workNo,
                        "userName": userName,
                        "curPage":num
                    },
                    text:{
                        none: '暂无相关数据' //默认：无数据。注：该属性为 layui 2.2.5 开始新增
                    },
//                    request: {
//                        "workNo": workNo,
//                        "userName": userName,
//                        pageName: 'curPage' //页码的参数名称，默认：page
//                    },
                    response: {
                        statusCode: 200 //成功的状态码，默认：0
//                        ,countName: 'page.totalCount'
                    },
                    done:function(res, curr, count) {
                        var page=res.page;
                        laypage.render({
                            elem: 'page',
                            limit:page.pageSize,
                            count: page.totalCount, //数据总数
                            curr: page.currentPage,
                            layout: ['count', 'prev', 'page', 'next', 'skip'],
                            jump: function (obj, first) {
                                if (!first) {
                                    renderDate(obj.curr,$(".workNo").val(),$(".userName").val());
                                }
                            }
                        })
                    }
                    //,size: 'lg' //尺寸

                });
            }
		});
	</script>

</html>