<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" th:href="@{layui/css/layui.css}" href="../static/layui/css/layui.css" media="all">
		<link href="../static/css/news.css" th:href="@{css/news.css}"/>
	</head>
	<body class="childrenBody">
	<div style="margin-top: 10px;margin-left: 10px;margin-right: 5px;">
		<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
			<legend><span class="sum_time"></span>部门工资汇总</legend>
		</fieldset>

		<blockquote class="layui-elem-quote">
			<div class="layui-input-inline">
				<label class="layui-label"> 请选择日期 </label>
				<div class="layui-input-inline">
					<input id="dateMonth" class="layui-input laydate-icon" placeholder="yyyy-MM" type="text">
				</div>
			</div>
		</blockquote>

		<div class="layui-form news_list">
			<table class="layui-table">
			<!--表头-->
			<thead>
			<tr>
				<th>部门</th>
				<th>应发工资</th>
				<th>顶班工资</th>
				<th>津贴</th>
				<th>四险</th>
				<th>个税</th>
				<th>一金</th>
				<th>实发工资</th></tr>
			</thead>
			<!--内容-->
				<tbody class="news_content"></tbody>
			<!--合计-->
			<tfoot>
				<tr class="statistics_sum">

				</tr>
			</tfoot>
		</table>
	</div>
	</div>

	<script th:src="@{layui/layui.js}" src="../static/layui/layui.js"></script>
	<script th:src="@{js/statistics.js}" src="../static/js/statistics.js"></script>
	</body>
</html>
