<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>待审核工资列表</title>
    <link rel="stylesheet" th:href="@{layui/css/layui.css}" href="../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" th:href="@{css/font_eolqem241z66flxr.css}" media="all"/>
    <link rel="stylesheet" th:href="@{css/news.css}" media="all"/>
</head>
<body class="childrenBody">
<div style="margin-top: 5px;margin-left: 5px;margin-right: 5px;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>待审核工资列表</legend>
    </fieldset>
    <div class="layui-form news_list">
        <table class="layui-table">
            <thead>
            <tr>
                <th>序号</th>
                <th>申请名称</th>
                <th>申请时间</th>
                <th>申请人</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody class="news_content"></tbody>
        </table>
    </div>
    <div id="page"></div>

    <!-- 需要弹出的添加员工界面 -->
    <div class="layui-row" id="test" lay-filter="commentList" style="display: none;">
        <div style="margin-left: 1%;margin-right: 1%;width: 98%;height: 100%;" class="layui-col-md10">
            <table class="layui-table">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>任务节点名称</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>审批人</th>
                    <th>审批意见</th>
                </tr>
                </thead>
                <tbody class="commentList"></tbody>
            </table>
        </div>
    </div>

    <div class="layui-row" id="test1" style="display: none;">
        <div class="layui-col-md10">
            <form style="margin-top: 5px;" class="layui-form" lay-filter="userForm">
                <div style="margin-top: 5px;" class="layui-form-item">
                    <label class="layui-form-label">审批意见：</label>
                    <div class="layui-input-block">
                        <input name="processInstanceId" class="processInstanceId" value="" hidden="hidden"/>
                        <input name="taskId" class="taskId" value="" hidden="hidden"/>
                        <textarea required lay-verify="required" placeholder="请输入" name="comment"
                                  class="layui-textarea comment"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="demo1">审核通过</button>
                        <button class="layui-btn layui-btn-primary" lay-submit="" lay-filter="demo2">驳回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{layui/layui.js}" src="../static/layui/layui.js"></script>
<script th:inline="javascript">
    layui.use(['form', 'layer', 'table', 'jquery', 'laypage'], function () {
        var form = layui.form,
            table = layui.table,
            layer = layui.layer,
            laypage = layui.laypage,
            $ = layui.jquery;
        //加载页面数据
        renderDate(1);

        $("body").on("click", ".chakan", function () {
            var _this = $(this);
            $('.commentList').html('');
            $.post('declare/comment.json', {'processInstanceId': _this.attr("data-id")}, function (result) {
                var code = result.code,
                    listData = result.data;
                if (code == 200) {
                    $.each(listData, function (index, item) {
                        var count = index + 1;
                        var startTime = item.startTime ? item.startTime : '';
                        var endTime = item.endTime ? item.endTime : '';
                        $('.commentList').append(
                            '<tr>' +
                            '<td>' + count + '</td>' +
                            '<td>' + item.activityName + '</td>' +
                            '<td>' + startTime + '</td>' +
                            '<td>' + endTime + '</td>' +
                            '<td>' + item.assignUser + '</td>' +
                            '<td>' + item.assignMsg + '</td></tr>');
                    });
                    table.render(null, 'commentList');
                    /* 再弹出添加界面 */
                    layer.open({
                        skin: 'layui-layer-molv',
                        shadeClose: true, //开启遮罩关闭
                        closeBtn: 0, //不显示关闭按钮
                        shade: 0.6,//遮罩透明度
                        type: 1,
                        title: ["审核流程"],
                        style: 'position:fixed;margin-top:30%;',
                        area: ["70%"],
                        anim: 1,
                        content: $("#test").html()
                    });
                } else {
                    var msg = result.msg;
                    if (msg) {
                        layer.alert(msg);
                    } else {
                        layer.alert('查询数据失败');
                    }
                }
            });
        });

        var index;
        $("body").on("click", ".shenhe", function () {
            index = layer.open({
                type: 1,
                title: "审批意见",
                skin: "myclass",
                area: ["40%", '50%'],
                content: $("#test1").html(),
            });
            /* 渲染表单 */
            var _parent = $(this).parents('tr');
            $('.taskId').val(_parent.find('td:eq(0)').attr('data-id'));
            $('.processInstanceId').val($(this).attr('data-id'));
            form.render(null, 'userForm');
        });

        //监听提交
        form.on('submit(demo1)', function (data) {
            var obj = data.field;
            obj.msg = 1;
            return verify(obj);
        });

        form.on('submit(demo2)', function (data) {
            var obj = data.field;
            obj.msg = 0;
            return verify(obj);
        });

        function verify(objParam) {
            $.post('declare/complete.json',objParam,function (result) {
                var code = result.code;
                if (code == 200) {
                    layer.close(index);
                    layer.msg('审核成功');
                    renderDate($('.layui-laypage-curr em:last').text());
                } else {
                    var msg = result.msg;
                    if (msg) {
                        layer.alert(msg);
                    } else {
                        layer.alert('操作失败');
                    }
                }
            },'json');
            return false;
        }

        function renderDate(curPage) {
            $.post("declare/task.json", {"curPage": curPage}, function (result) {
                var code = result.code,
                    listData = result.data,
                    page = result.page;
                if (code == 200) {
                    //渲染数据
                    var dataHtml = '';
                    $(window.parent.document).find(".layui-badge").text(listData.length);
                    if (listData.length != 0) {
                        $.each(listData, function (i, item) {
                            var count = i + 1;
                            dataHtml += '<tr>'
                                + '<td data-id="' + item.taskId + '">' + count + '</td>'
                                + '<td>' + item.declareName + '</td>'
                                + '<td>' + item.declareDate + '</td>'
                                + '<td>' + item.user.username + '</td>';
                            if (item.status == 0) {
                                dataHtml += '<td>未提交</td>';
                            } else if (item.status == 1) {
                                dataHtml += '<td>审核中</td>';
                            } else if (item.status == 2) {
                                dataHtml += '<td>审核通过</td>';
                            } else if (item.status == 3) {
                                dataHtml += '<td>调整中</td>';
                            }
                            dataHtml += '<td>'
                                + '<button class="layui-btn layui-btn-sm shenhe" data-id="' + item.processInstanceId + '">审核</button>'
                                + '&nbsp;&nbsp;<button class="layui-btn layui-btn-normal layui-btn-sm chakan" data-id="' + item.processInstanceId + '">查看</button>'
                                + '</td>'
                                + '</tr>';
                        });
                    } else {
                        dataHtml = '<tr><td colspan="6">暂无数据</td></tr>';
                    }
                    $(".news_content").html(dataHtml);
                    //分页
                    laypage.render({
                        elem: 'page',
                        limit: page.pageSize,
                        count: page.totalCount, //数据总数
                        curr: page.currentPage,
                        layout: ['count', 'prev', 'page', 'next', 'refresh', 'skip'],
                        jump: function (obj, first) {
                            if (!first) {
                                renderDate(obj.curr);
                            }
                        }
                    })
                } else {
                    var msg = result.msg;
                    if (msg) {
                        layer.alert(msg);
                    } else {
                        layer.alert('查询数据失败');
                    }
                }
            });
        }
    });
</script>
</body>
</html>
