<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>员工管理</title>
    <link rel="stylesheet" th:href="@{layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{css/font_eolqem241z66flxr.css}" media="all"/>
    <link rel="stylesheet" th:href="@{css/news.css}" media="all"/>
    <style>
        .layui-layer-page .layui-layer-content {
            position: relative;
            overflow: visible !important;
        }
    </style>
</head>
<body class="childrenBody">
<div style="margin-top: 10px;margin-left: 10px;margin-right: 5px;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>员工列表</legend>
    </fieldset>
    <blockquote class="layui-elem-quote">
    <div style="width: 200px;" class="layui-input-inline">
        <label class="layui-label"> 角色 </label>
        <div style="margin-left: 5px;" class="layui-input-block layui-inline">
        <select style="width: 150px;" class="layui-select" id="listRole" name="roleId">

        </select>
        </div>
    </div>
    <div style="width: 200px;" class="layui-input-inline">
        <label class="layui-label"> 部门 </label>
        <div style="margin-left: 5px;" class="layui-input-block layui-inline">
        <select style="width: 150px;" class="layui-select" id="listDept" name="deptId">

        </select>
        </div>
    </div>
    <div style="width: 200px;" class="layui-inline">
        <label class="layui-label"> 姓名 </label>
        <div style="margin-left: 5px;" class="layui-input-block layui-inline">
            <input style="width: 150px;" type="text" value="" placeholder="请输入关键字" id="keyw" name="" autocomplete="off" class="layui-input search_input">
        </div>
    </div>
    <div class="layui-inline"> <a class="layui-btn search_btn">查询</a></div>
    <div  class="layui-btn-group demoTable layui-inline">
        <button id="addEmplpyeeBtn" class="layui-btn layui-btn-normal" data-type="insert">添加</button>
        <button id="delAll" class="layui-btn layui-btn-danger" data-type="delAll">全部删除</button>
    </div>
    </blockquote>

    <div class="layui-form news_list">
        <table class="layui-table">
            <colgroup>
                <col width="5%">
                <col width="12%">
                <col width="15%">
                <col width="10%">
                <col width="10%">
                <col width="15%">
                <col width="10%">
                <col width="17%">
            </colgroup>
            <thead>
            <tr>
                <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose"></th>
                <th>员工姓名</th>
                <th>考勤编号</th>
                <th>员工部门</th>
                <th>员工角色</th>
                <th>最后登录时间</th>
                <th>员工状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody class="news_content"></tbody>
        </table>
    </div>
    <div id="page"></div>
</div>

<!-- 需要弹出的添加员工界面 -->
<div class="layui-row" id="test" style="display: none;">
    <div class="layui-col-md10">
        <form style="margin-top: 5px;" class="layui-form" lay-filter="userForm" id="addEmployeeForm">
            <div class="layui-form-item">
                <label class="layui-form-label">员工姓名：</label>
                <div class="layui-input-block">
                    <input class="primaryKey" name="id" value="" hidden="hidden"/>
                    <input value="test" type="text" lay-verify="required" name="username" class="layui-input username">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">考勤编号：</label>
                <div class="layui-input-block">
                    <input value="111" type="text" lay-verify="required" name="workNo" class="layui-input workNo">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">员工部门：</label>
                <div class="layui-input-block">
                    <select class="layui-input modDept" name="sysDept.id" id="modDept">

                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">员工角色：</label>
                <div class="layui-input-block">
                    <select lay-verify="required" class="layui-input modRole" name="sysRole.id" id="modRole">

                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">员工状态：</label>
                <div class="layui-input-block">
                    <input class="status" checked type="checkbox" value="1" lay-filter="switchTest" name="status" lay-skin="switch" lay-text="正常|禁用">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script th:src="@{layui/layui.js}" src="../static/layui/layui.js"></script>
<script th:src="@{js/user.js}" src="../static/js/user.js"></script>
</body>
</html>
